<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <!--for contact-->
    <add key="FeedBackMail" value="rufet.esgerov@gmail.com"/>

    <add key="Mail" value="rufet.esgerov@gmail.com" />
    <add key="MailPassword" value="5374865rufet//" />
    <add key="MailSmtp" value="smtp.gmail.com" />


    <add key="MailSubScribe" value="rufet.esgerov@gmail.com" />
    <add key="MailSubScribePassword" value="5374865rufet//" />
    <add key="MailSubScribeSmtp" value="smtp.gmail.com" />

    <add key="ProjectName" value="DİM - Dayanıqlı İnkişaf üzrə Milli Məlumatlandırma Portalı"/>
    <add key="ProjectNameShort" value="DİM - Dayanıqlı İnkişaf üzrə Milli Məlumatlandırma Portalı"/>
    <add key="ProjectOwner" value="Statistika "/>
    <add key="WebSiteURL" value="http://stat.cidcode.net"/>

  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=127.0.0.1;Port=3306;Database=statistika;User Id=root;Charset=utf8;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />

    <!--<add name="ConnStr" connectionString="Data Source=127.0.0.1;Port=3306;Charset=utf8;Database=db_9b83d7_stat;User Id=portal;Password=qwerty123;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="ConnStr" connectionString="Data Source=127.0.0.1;Port=8888;Database=statistik_new;User Id=root;Password=root;Charset=utf8;Persist Security Info=True;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="connstring" connectionString="Data Source=127.0.0.1;Port=8888;Database=nobeloil3;User Id=root;Password=root;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <system.web>
    <sessionState timeout="160" mode="InProc" cookieless="false"  />
    <customErrors mode="Off"/>

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v14.1.Core, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.RichEdit.v14.1.Core, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.ASPxThemes.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Office.v14.1.Core, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.SpellChecker.v14.1.Core, Version=14.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" />
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Moderno" customThemeAssemblies=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>
